<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SmartPlanner</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zalogowany jako <span>{{user.userName}}</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/account">Konto</a></li>
            <li><a ng-click="logout()">Wyloguj</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
